<a href="https://colab.research.google.com/github/lsimpsonlibrary/example_python_code/blob/main/business_python_workshop_spring_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Using Python in Business Research**
___________________________________________________________________
April 8 (In-person) 3:00 p.m. to 4:00 p.m. \
**Lance Simpson** and **Mark Siciliano** \
*The University of Alabama Libraries* \
[Contact Information on UA Libraries Directory](https://www.lib.ua.edu/#/staffdir?liaison=1)


## **Today, attendees will learn how to:**

* *Work with Python in Google Colaboratory* 
* *Load data into Colaboratory notebooks, import Python libraries, and save/share/format notebooks*
* *Use built-in Python functions*
* *Use the Pandas data analysis library to load tabular data into DataFrames.*

# **Tools and Setup**
___________________________________________________________________

## **Setup For Today**

We will be working in a Google Colaboratory (Colab) notebook for the exercises today. 

1. Go to the link provided for this Colab notebook. 
2. Save a copy to your Google Drive. You should then be able to run and edit the code interactively.
  * Once you open the link for the Colab notebook, select `File` from the menu bar at the top of the page.
  * Select the option `Save a copy in Drive`.
  * This should open a new window with the Colab document titled `copy business_python_workshop_spring_2022.ipynb`
  * You're all set!

## **What is Google Colaboratory (Colab) [1]?**

1. Online Jupyter based environment for Python programming

2. Free to use with Google account.

3. Does not require setup or local installation. Code is run on a temporary virtual machine provided by Colab service.

4. You can use Chrome, Firefox, or Safari. Other browsers may be supported.

3. A "Pro" version is available if more computing resources are needed.



________________________________________________________________________________
* [1] See the [Google Research FAQ](https://research.google.com/colaboratory/faq.html)

# **Computational Thinking: Considering Python for Data Analysis**
___________________________________________________________________

## **What is Python?**[2]

* A scripting language
* A powerful open source tool that can be used for data preparation and analysis
* Available for use across multiple operating systems and online environments (like [Jupyter](https://jupyter.org/) and [Google Colab](https://colab.research.google.com/)!)

### Working with Data: File Types [1]

* `txt`, Text files
* `csv`, Comma Seperated Values files
* `xml`, Extensible Markup Language
* `json`, a format that includes human and machine readable data, common for exports from web applications
* `xlsx`, There are some libraries like Pandas that have the ability to read Excel files (we'll use one today!)

### Tools for Utilizing Python

* [Jupyter](https://jupyter.org/) and [Google Colab](https://colab.research.google.com/) Notebooks
* [Anaconda](https://www.anaconda.com/) Data Science Platform
* [Available for installation](https://www.python.org/downloads/) through the command line across operating systems
* Installing [Python](https://www.python.org/downloads/) directly through the Command Line (varies depending on your OS)
* There are other great Integrated Development Environments for Python, like [Spyder](spyder-ide.org) and [IPython](https://ipython.org/).
* You can also utilize Python through IDEs like Microsoft [Visual Studio](https://visualstudio.microsoft.com/vs/features/python/) and the open-source text editor, [Atom](https://atom.io/)

__________________________________________________________
* [2] [Open Data Handbook: Glossary: Machine Readable](https://opendatahandbook.org/glossary/en/terms/machine-readable/)

## Computational Thinking Approach [3]

*   **Decomposition:** Break your problem down to its smallest parts​
*   **Pattern Recognition:** What trends do you notice in data?​
*   **Abstraction:** What's the smallest way to represent a concept or idea?
*   **Algorithm Design:** How do you automate the process to be more effecient and effective, especially when working with large sets of data?

________________________________________________________________________________
*   [3] Wing, J. M. (2006). Computational thinking. Communications of the ACM, 49(3), 33–35. https://doi.org/10.1145/1118178.1118215

# **Getting Started**
___________________________________________________________________

In this section, we will cover:


* Syntax and Getting Started
* Variables and Data Types
* Functions

### **Syntax and Getting Started** [4-5]

Let's start out with a first line of code. In the box below. Python allows the user to add annotation by typing notes after the `#`. Click inside the `code block` just below the note. There is already a command `print("Hello, World!")` ready to execute. Then, select the `run button` on the left side of the `code block`.

In [1]:
# Type your code phrase in the space below in this box, and then press the run arrow on the left.

print("Hello, World!")

Hello, World!

________________________________________________________________________________
* [4] Adapted with changes from [Programming with Python: Python Fundamentals](https://swcarpentry.github.io/python-novice-inflammation/01-intro/index.html) by The Carpentries. [CC-BY-4.0](https://creativecommons.org/licenses/by/4.0/)
* [5] Adapted with changes from [Computational Notebooks and Beginner Syntax with Python](https://github.com/ualibweb/UALIB_Workshops/blob/master/04_Python_spring_2022/01_Python_computational_notebooks_and_syntax.ipynb) by Vincent Scalfani and UA Libraries. [MIT License](https://github.com/ualibweb/UALIB_Workshops/blob/master/LICENSE)

### **Using the Help() Function** [5-7]
There are several ways to get help while using Python, and especially if you would like know more about options available for use of a particular function or method.

In [2]:
# If you know the name of the function, use the help() function 
# to display the docstring

help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [3]:
# using a question mark will show the help in a pop-up Colab window

sorted?

In [4]:
# You may have noticed that Colab shows recommedations as you type.
# These can be useful, especially for exploring operations of objects.

a = [6,3,0,5] # this creates a list

In [5]:
# now if we type `a` followed by a period `.`, the available attributes/methods
# will show up. We can select one we are interested in and add a ? for info

a.reverse()
a

[5, 0, 3, 6]

__________________________________________________________
For more help information, see:

* [6][Help and Documentation in IPython](https://jakevdp.github.io/PythonDataScienceHandbook/01.01-help-and-documentation.html) by Jake VanderPlas.  [CC-BY-NC-ND](https://creativecommons.org/licenses/by-nc-nd/3.0/us/legalcode).

* [7] [Overview of Colaboratory Features](https://colab.research.google.com/notebooks/basic_features_overview.ipynb)
* [5] Adapted with changes from [Computational Notebooks and Beginner Syntax with Python](https://github.com/ualibweb/UALIB_Workshops/blob/master/04_Python_spring_2022/01_Python_computational_notebooks_and_syntax.ipynb) by Vincent Scalfani and UA Libraries. [MIT License](https://github.com/ualibweb/UALIB_Workshops/blob/master/LICENSE)

### **Other Syntax Items of Note** [8-9]

Python reads each line as a new line of code unless specified using indention (as a part of a `for` loop or condition statement using `if`, `elif`, or `else`, or as a part of some functions), or by using parantheses to enclose the request.

In [6]:
# For example, do some basic math using Python
# There are enough numbers in our equation that
# it may help to visually split the line.
# We will do this with ().

a1 = (2+4+8+16+32+64+
    128+256)
a1

510

In [7]:
# We can look at indention through a quick For Loop
# The indentation after the first line of the For Loop
# Let's python know that each line is a part of the loop
# We will talk more about loops in the lessons below

t1 = ["AAPL", "MSFT", "BABA", "GOOGL"]
t2 = ["Apple", "Microsoft", "Alibaba", "Alphabet"]

for x1, y1 in zip(t1, t2):
    print("The stock symbol for " + x1)
    print("is " + y1)

The stock symbol for AAPL
is Apple
The stock symbol for MSFT
is Microsoft
The stock symbol for BABA
is Alibaba
The stock symbol for GOOGL
is Alphabet


* [8] [Looping through multiple lists—Python cookbook by O'Reilly](https://www.oreilly.com/library/view/python-cookbook/0596001673/ch01s15.html)
* [9] [Python Docs Glossary, Built-in Functions: Zip](https://docs.python.org/3/library/functions.html#zip)

### **Data Types and Variables** [4-5]

#### Data Types
*   **Strings**
*   **Integers**
*   **Floating Point Numbers**

**Strings** can be a combination of letters, characters, and numbers, and are denoted by using single `'` or double `"` quotes. For example, a person's name may be represented like the following example:

```python
author_name = "Audre Lorde"
```

**Integers** are whole numbers. For example:

```python
universal_answer = 42
```
**Floating Point Numbers** include decimal points, as in the following example.

```python
universal_answer = 42.0
```

*Note that numbers do not need quotation marks around then, unless you would like them to be interpreted as strings.*

#### Variables
Python makes variable assignments using the `=`, as used in the examples immediately above this text block.

##### Simple Variables

Simple variables, for our purpose are variables that only contain one item for their assignment. For example, in the code block below, let's assign a the number `11` to the variable `workshop_start_time`, and print the variable, using the print function. Type the following, then select run:
```python
workshop_start_time = 11
print(workshop_start_time)
```

In [8]:
# Enter code in the line below:
workshop_start_time = 11

In [9]:
print(workshop_start_time)

11

You can see the data type by using the `type()` function with a variable in the argument `()`.

In [10]:
# try out the type function on the line below, and select run
type(workshop_start_time)

int

There are are variety of methods available for working with strings, and these are available through the `help(str)` function.

In [11]:
# let's get a list of methods for working with strings
help(str)

Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Return a formatted version of the string as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __sizeof__(self, /)
 |      Return the size of the string in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(self, /)
 |      Return a capitalized version of the string.
 |
 |      More specifically, make the first character have upper case and the rest lower
 |      case.
 |
 |  casefold(self, /)
 |      Return a version of the string suitable for caseless comparisons.
 |
 |  center(self, width, fillchar=' ', /)
 |      Return a centered string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(self, /, encoding='utf-8', errors='strict')
 |      Encode the string using the codec registered for encoding.
 |
 |      encoding
 |        The encoding in which to encode the string.
 |      errors
 |        The error handling scheme to use for encoding errors.
 |        The default is 'strict' meaning that encoding errors raise a
 |        UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
 |        'xmlcharrefreplace' as well as any other name registered with
 |        codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(self, /, tabsize=8)
 |      Return a copy where all tab characters are expanded using spaces.
 |
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(self, /)
 |      Return True if the string is an alpha-numeric string, False otherwise.
 |
 |      A string is alpha-numeric if all characters in the string are alpha-numeric and
 |      there is at least one character in the string.
 |
 |  isalpha(self, /)
 |      Return True if the string is an alphabetic string, False otherwise.
 |
 |      A string is alphabetic if all characters in the string are alphabetic and there
 |      is at least one character in the string.
 |
 |  isascii(self, /)
 |      Return True if all characters in the string are ASCII, False otherwise.
 |
 |      ASCII characters have code points in the range U+0000-U+007F.
 |      Empty string is ASCII too.
 |
 |  isdecimal(self, /)
 |      Return True if the string is a decimal string, False otherwise.
 |
 |      A string is a decimal string if all characters in the string are decimal and
 |      there is at least one character in the string.
 |
 |  isdigit(self, /)
 |      Return True if the string is a digit string, False otherwise.
 |
 |      A string is a digit string if all characters in the string are digits and there
 |      is at least one character in the string.
 |
 |  isidentifier(self, /)
 |      Return True if the string is a valid Python identifier, False otherwise.
 |
 |      Use keyword.iskeyword() to test for reserved identifiers such as "def" and
 |      "class".
 |
 |  islower(self, /)
 |      Return True if the string is a lowercase string, False otherwise.
 |
 |      A string is lowercase if all cased characters in the string are lowercase and
 |      there is at least one cased character in the string.
 |
 |  isnumeric(self, /)
 |      Return True if the string is a numeric string, False otherwise.
 |
 |      A string is numeric if all characters in the string are numeric and there is at
 |      least one character in the string.
 |
 |  isprintable(self, /)
 |      Return True if the string is printable, False otherwise.
 |
 |      A string is printable if all of its characters are considered printable in
 |      repr() or if it is empty.
 |
 |  isspace(self, /)
 |      Return True if the string is a whitespace string, False otherwise.
 |
 |      A string is whitespace if all characters in the string are whitespace and there
 |      is at least one character in the string.
 |
 |  istitle(self, /)
 |      Return True if the string is a title-cased string, False otherwise.
 |
 |      In a title-cased string, upper- and title-case characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |
 |  isupper(self, /)
 |      Return True if the string is an uppercase string, False otherwise.
 |
 |      A string is uppercase if all cased characters in the string are uppercase and
 |      there is at least one cased character in the string.
 |
 |  join(self, iterable, /)
 |      Concatenate any number of strings.
 |
 |      The string whose method is called is inserted in between each given string.
 |      The result is returned as a new string.
 |
 |      Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'
 |
 |  ljust(self, width, fillchar=' ', /)
 |      Return a left-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  lower(self, /)
 |      Return a copy of the string converted to lowercase.
 |
 |  lstrip(self, chars=None, /)
 |      Return a copy of the string with leading whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string.  If the separator is found,
 |      returns a 3-tuple containing the part before the separator, the separator
 |      itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing the original string
 |      and two empty strings.
 |
 |  replace(self, old, new, count=-1, /)
 |      Return a copy with all occurrences of substring old replaced by new.
 |
 |        count
 |          Maximum number of occurrences to replace.
 |          -1 (the default value) means replace all occurrences.
 |
 |      If the optional argument count is given, only the first count occurrences are
 |      replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(self, width, fillchar=' ', /)
 |      Return a right-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  rpartition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string, starting at the end. If
 |      the separator is found, returns a 3-tuple containing the part before the
 |      separator, the separator itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing two empty strings
 |      and the original string.
 |
 |  rsplit(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |        sep
 |          The delimiter according which to split the string.
 |          None (the default value) means split according to any whitespace,
 |          and discard empty strings from the result.
 |        maxsplit
 |          Maximum number of splits to do.
 |          -1 (the default value) means no limit.
 |
 |      Splits are done starting at the end of the string and working to the front.
 |
 |  rstrip(self, chars=None, /)
 |      Return a copy of the string with trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |      sep
 |        The delimiter according which to split the string.
 |        None (the default value) means split according to any whitespace,
 |        and discard empty strings from the result.
 |      maxsplit
 |        Maximum number of splits to do.
 |        -1 (the default value) means no limit.
 |
 |  splitlines(self, /, keepends=False)
 |      Return a list of the lines in the string, breaking at line boundaries.
 |
 |      Line breaks are not included in the resulting list unless keepends is given and
 |      true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(self, chars=None, /)
 |      Return a copy of the string with leading and trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(self, /)
 |      Convert uppercase characters to lowercase and lowercase characters to uppercase.
 |
 |  title(self, /)
 |      Return a version of the string where each word is titlecased.
 |
 |      More specifically, words start with uppercased characters and all remaining
 |      cased characters have lower case.
 |
 |  translate(self, table, /)
 |      Replace each character in the string using the given translation table.
 |
 |        table
 |          Translation table, which must be a mapping of Unicode ordinals to
 |          Unicode ordinals, strings, or None.
 |
 |      The table must implement lookup/indexing via __getitem__, for instance a
 |      dictionary or list.  If this operation raises LookupError, the character is
 |      left untouched.  Characters mapped to None are deleted.
 |
 |  upper(self, /)
 |      Return a copy of the string converted to uppercase.
 |
 |  zfill(self, width, /)
 |      Pad a numeric string with zeros on the left, to fill a field of the given width.
 |
 |      The string is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  maketrans(x, y=None, z=None, /)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

In [12]:
# Single and double quotation marks work for strings
first_line = "It was a dark and stormy night."

In [13]:
# We can use the title method to change the case of the string
first_line.title()

'It Was A Dark And Stormy Night.'

##### Compound Variables

You can also assign a list of values to a variable. Lists can contain integers, float point numbes, strings, and a combination of all of these types.

In [14]:
# this is an example of a list with integers
list_1 = [2, 3, 5, 7, 11] # square brackets with values separated by commas denote a list
list_1

[2, 3, 5, 7, 11]

In [15]:
# You can build a list with strings as well

tech_symbols = ["AAPL", "MSFT", "BABA", "GOOGL"]
tech_symbols

['AAPL', 'MSFT', 'BABA', 'GOOGL']

In [16]:
# Python allows for indexing of lists as well
# The first index position in Python is 0
# Let's pull the item in the first position in our list
tech_symbols[0]

'AAPL'

In [17]:
# Let's pull a slice of our list, placing a : between the first and list item in the slice
tech_symbols[0:3]

['AAPL', 'MSFT', 'BABA']

Note that position `1` is the second position.

There are other built in Python types including complex, boolean, and None. See the Python documention for [Built-in Types](https://docs.python.org/3/library/stdtypes.html).

________________________________________________________________________________
* [4] Adapted with changes from [Programming with Python: Python Fundamentals](https://swcarpentry.github.io/python-novice-inflammation/01-intro/index.html) by The Carpentries. [CC-BY-4.0](https://creativecommons.org/licenses/by/4.0/)
* [5] Adapted with changes from [Computational Notebooks and Beginner Syntax with Python](https://github.com/ualibweb/UALIB_Workshops/blob/master/04_Python_spring_2022/01_Python_computational_notebooks_and_syntax.ipynb) by Vincent Scalfani and UA Libraries. [MIT License](https://github.com/ualibweb/UALIB_Workshops/blob/master/LICENSE)

## **Functions** [6]

Functions return values in Python. They are called with parentheses. You will often see what is placed in the parantheses called both and argument and a paramenter. We've used a few functions already in this workshop, like `print()` and `help()`.

In [18]:
# Let's try the len function to get the length of our list in first_lines
len(tech_symbols)

4

In [19]:
# Let's remove one of the items from our list
tech_symbols.remove("AAPL")
tech_symbols

['MSFT', 'BABA', 'GOOGL']

In [20]:
# No argument is needed when a function should be evaluated
# We can re-order the list using the reverse function
tech_symbols.reverse()
tech_symbols

['GOOGL', 'BABA', 'MSFT']

You can even define your own functions using the `def` function. This can be helpful to make repetitive tasks more efficient. Custom functions follow the syntax below:
```python
def function_name:
  """dictionary definitions go here, and are visible when using the help function"""
  do something
  ```
Note that the `:` on the end of the first line, and the idention on any subsequent lines is required. When designing your own functions, consider tasks you are regularly doing that could be made more efficient.

In [21]:
# Let's make a function to add the UA Libraries authenticator link to a URL
# This helps to ensure access to materials when users are off campus
# we can start with creating a variable for the authenticator link
authenticator_link = "http://libdata.lib.ua.edu/login?url="

In [22]:
# Now let's define the function
# Remember to include the dictionary definition nested in three double quotes
def authenticate_url(url):
  """Attaches the UA Libraries authenticator link to a URL"""
  print(authenticator_link + url)

In [23]:
# Now let's try it out with a the MLA database link
m1 = "https://search.ebscohost.com/login.aspx?authtype=ip,uid&profile=ehost&defaultdb=mlf"
authenticate_url(m1)

http://libdata.lib.ua.edu/login?url=https://search.ebscohost.com/login.aspx?authtype=ip,uid&profile=ehost&defaultdb=mlf

In [24]:
# Let's try the help with this new function
help(authenticate_url)

Help on function authenticate_url in module __main__:

authenticate_url(url)
    Attaches the UA Libraries authenticator link to a URL

________________________________________________________________________________
* [6] [Python Docs Glossary: Functions](https://docs.python.org/3/glossary.html#term-function)

## **Libraries**

Libraries contain specialized toolset for working with particular types of data, or doing speacilized data analysis. You can call a library in Python by using the `import` function. You will see below there are a couple of examples with the word `as` as a part of the request. Python allows you to create aliases for libraries, so you can shorten the name of the library when you are calling for tools from it in the future. Here are a few examples of libraries and their common aliases below:



1. [NumPy](https://numpy.org/doc/stable/user/absolute_beginners.html): NumPy is an extended set of tools for working with scientific data. It is often used with Pandas and MatPlotLib.
```python
import numpy as np
```
2. [Pandas](https://pandas.pydata.org/docs/getting_started/index.html): Pandas is a library devovted to data analysis using its hallmark DataFrame. 
```python
import pandas as pd
```
3. [MatPlotLib](https://matplotlib.org/stable/users/getting_started/): MatPlotLib is a tool great for visualizing data output.
```python
import matplotlib as plt
```
4. [OS](https://docs.python.org/3/library/os.html) Provides some operation system functionality (like loading and accessing files) in Python.
```python
import os
```

# **Uploading and Analyzing a Dataset**
___________________________________________________________________

## **Uploading a dataset  from a URL** [10-11]

Let's use a few of the libraries we've talked about to look at a dataset created by Business Librarian, Mark Siciliano. We will access this dataset through the [UA Libraries Institutional Repository](https://ir.ua.edu/). The dataset we will use is called [Fiscal 2020 CEO Pay Ratios](http://ir.ua.edu/handle/123456789/8085).

In [25]:
# import libraries for data analysis and plotting

import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plot
import os

In [26]:
# uses a Bash Shell command to see your current location in the file directory

%pwd

'/content'

In [27]:
# uses a Bash Shell command to list all directories in your current working directory

%ls

sample_data/

In [28]:
# uses a Bash Shell command to create a new directory

%mkdir workshop_data

In [29]:
%ls

sample_data/  workshop_data/

In [30]:
# uses a Bash shell direcotry to change our current directory to the new one

%cd workshop_data

/content/workshop_data

In [31]:
# uses a Bash shell command wget to access data from website
# -P option allows you to specify the destination for the import
# -O option allows you to specify the name of the file when is imported
# The web address is treated as a string, and must have quotation marks

!wget -P /content/workshop_data "https://ir.ua.edu/bitstream/handle/123456789/8085/FY2020%20CEO%20Pay%20Ratios.xlsx?sequence=1&isAllowed=y" -O pay_ratio.xlsx

--2022-06-06 19:14:23--  https://ir.ua.edu/bitstream/handle/123456789/8085/FY2020%20CEO%20Pay%20Ratios.xlsx?sequence=1&isAllowed=y
Resolving ir.ua.edu (ir.ua.edu)... 130.160.24.126
Connecting to ir.ua.edu (ir.ua.edu)|130.160.24.126|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 623427 (609K) [application/vnd.openxmlformats-officedocument.spreadsheetml.sheet]
Saving to: ‘pay_ratio.xlsx’

caltime             100%[===================>] 608.82K  --.-KB/s    in 0.1s

2022-06-06 19:14:24 (4.92 MB/s) - ‘pay_ratio.xlsx’ saved [623427/623427]

_________________________________________________________
* [10] ["7 ways to load external data into Google Colab"](https://towardsdatascience.com/7-ways-to-load-external-data-into-google-colab-7ba73e7d5fc7) by B. Chen
* [11] [Fiscal 2020 CEO Pay Ratios](http://ir.ua.edu/handle/123456789/8085), by Mark Siciliano, UA Libraries.

In [32]:
# Create a DataFrame by using the Pandas Excel reader to important the dataset

pay_ratio_df = pd.read_excel("pay_ratio.xlsx")

In [33]:
# Let's take a look at the DataFrame we've created

pay_ratio_df

,Company,PEO,Year,Female,Pay Ratio,PEO_Tot,Median Pay,Det Date,EmpInc,DeMin,...,Sector,S_Desc,Group,G_Desc,Industry,I_Desc,SubInd,SI_Desc,SIC,NoFloat
0,10X Genomics Inc,Serge Saxonov,2020,NaN,53.557996,10882717.0,203195,2020-12-31,817.0,True,...,35.0,Health Care,3520.0,"Pharmaceuticals, Biotechnology & Life Sciences",352030.0,Life Sciences Tools & Services,35203010.0,Life Sciences Tools & Services,3826.0,NaN
1,1-800-Flowers.com Inc,James McCann,2020,NaN,116.554711,3236025.0,27764,2018-07-01,4300.0,NaN,...,25.0,Consumer Discretionary,2550.0,Retailing,255020.0,Internet & Direct Marketing Retail,25502020.0,Internet & Direct Marketing Retail,5961.0,NaN
2,1st Constitution Bancorp,Robert Mangano,2020,NaN,28.055458,1763005.0,62840,2020-11-30,218.0,NaN,...,40.0,Financials,4010.0,Banks,401010.0,Banks,40101015.0,Regional Banks,6020.0,NaN
3,1st Franklin Financial Corp,Virginia Herring,2020,1.0,21.380329,858634.0,40160,2020-12-31,1475.0,NaN,...,40.0,Financials,4020.0,Diversified Financials,402020.0,Consumer Finance,40202010.0,Consumer Finance,6141.0,1.0
4,1st Source Corp,Christopher Murphy III,2020,NaN,38.544226,2321326.0,60225,2020-12-31,1175.0,NaN,...,40.0,Financials,4010.0,Banks,401010.0,Banks,40101015.0,Regional Banks,6020.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2499,Zovio Inc,Andrew Clark,2020,NaN,39.514342,2775764.0,70247,2020-12-31,1522.0,NaN,...,25.0,Consumer Discretionary,2530.0,Consumer Services,253020.0,Diversified Consumer Services,25302010.0,Education Services,8200.0,NaN
2500,Zscaler Inc,Jay Chaudhry,2020,NaN,38.983354,6620660.0,169833,2020-07-31,2000.0,NaN,...,45.0,Information Technology,4510.0,Software & Services,451030.0,Software,45103020.0,Systems Software,7370.0,NaN
2501,Zumiez Inc,Richard Brooks,2020,NaN,243.946790,1664205.0,6822,2021-01-31,8851.0,True,...,25.0,Consumer Discretionary,2550.0,Retailing,255040.0,Specialty Retail,25504010.0,Apparel Retail,5651.0,NaN
2502,Zymeworks Inc,Ali Tehrani,2020,NaN,30.323976,4788459.0,157910,2020-10-01,354.0,NaN,...,35.0,Health Care,3510.0,Health Care Equipment & Services,351010.0,Health Care Equipment & Supplies,35101010.0,Health Care Equipment,2834.0,NaN
2503,Zynga Inc,Frank Gibeau,2020,NaN,323.987083,32003768.0,98781,2020-10-01,2192.0,NaN,...,50.0,Communication Services,5020.0,Media & Entertainment,502020.0,Entertainment,50202020.0,Interactive Home Entertainment,7372.0,NaN

## **Tools for Analyzing Data Using Pandas** [4,12-18]

In [34]:
# We can view some basic information about the cells in the DataFrame with
# the info() function

pay_ratio_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2504 entries, 0 to 2503
Data columns (total 38 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Company          2504 non-null   object
 1   PEO              2504 non-null   object
 2   Year             2504 non-null   int64
 3   Female           122 non-null    float64
 4   Pay Ratio        2504 non-null   float64
 5   PEO_Tot          2504 non-null   float64
 6   Median Pay       2504 non-null   int64
 7   Det Date         2504 non-null   datetime64[ns]
 8   EmpInc           2466 non-null   float64
 9   DeMin            567 non-null    object
 10  DMinVal          547 non-null    float64
 11  Annualize        1224 non-null   float64
 12  AltAvail         237 non-null    float64
 13  Alt Ratio        235 non-null    float64
 14  Alt Description  235 non-null    object
 15  COLA             19 non-null     float64
 16  AcqExempt        119 non-null    float64
 17  AcqEmp           107 non-null    float64
 18  Notes            59 non-null     object
 19  MultPEO          40 non-null     float64
 20  Word Count       2497 non-null   float64
 21  Ticker           2461 non-null   object
 22  City             2503 non-null   object
 23  State            2503 non-null   object
 24  SXP500           491 non-null    float64
 25  R3000            2252 non-null   float64
 26  R2000            1316 non-null   float64
 27  R1000            936 non-null    float64
 28  Sector           2503 non-null   float64
 29  S_Desc           2503 non-null   object
 30  Group            2503 non-null   float64
 31  G_Desc           2503 non-null   object
 32  Industry         2503 non-null   float64
 33  I_Desc           2503 non-null   object
 34  SubInd           2503 non-null   float64
 35  SI_Desc          2503 non-null   object
 36  SIC              2503 non-null   float64
 37  NoFloat          43 non-null     float64
dtypes: datetime64[ns](1), float64(23), int64(2), object(12)
memory usage: 743.5+ KB

In [35]:
# We can also get some quick descriptive statistics with the describe() function

pay_ratio_df.describe()

,Year,Female,Pay Ratio,PEO_Tot,Median Pay,EmpInc,DMinVal,Annualize,AltAvail,Alt Ratio,...,SXP500,R3000,R2000,R1000,Sector,Group,Industry,SubInd,SIC,NoFloat
count,2504.000000,122.0,2504.000000,2.504000e+03,2504.000000,2.466000e+03,547.000000,1224.0,237.0,235.000000,...,491.0,2252.0,1316.0,936.0,2503.000000,2503.000000,2503.000000,2.503000e+03,2503.000000,43.0
mean,2020.000799,1.0,164.766740,7.708186e+06,90591.744808,1.675614e+04,1051.595978,1.0,1.0,189.751830,...,1.0,1.0,1.0,1.0,34.133040,3430.123851,343032.768678,3.430330e+07,4913.290052,1.0
std,0.028256,0.0,374.182682,1.007602e+07,73222.134115,6.640487e+04,3936.239440,0.0,0.0,308.977866,...,0.0,0.0,0.0,0.0,13.533697,1352.300622,135226.045327,1.352261e+07,1907.572730,0.0
min,2020.000000,1.0,0.000000,0.000000e+00,1339.000000,1.000000e+00,1.000000,1.0,1.0,1.400000,...,1.0,1.0,1.0,1.0,10.000000,1010.000000,101010.000000,1.010101e+07,100.000000,1.0
25%,2020.000000,1.0,33.755090,2.808335e+06,47247.500000,7.862500e+02,54.500000,1.0,1.0,48.500000,...,1.0,1.0,1.0,1.0,20.000000,2030.000000,203040.000000,2.030402e+07,3490.000000,1.0
50%,2020.000000,1.0,71.402597,5.355706e+06,69404.500000,3.152000e+03,217.000000,1.0,1.0,89.000000,...,1.0,1.0,1.0,1.0,35.000000,3520.000000,352010.000000,3.520101e+07,4953.000000,1.0
75%,2020.000000,1.0,156.374305,9.605794e+06,112287.500000,1.085475e+04,842.000000,1.0,1.0,177.500000,...,1.0,1.0,1.0,1.0,45.000000,4510.000000,451020.000000,4.510202e+07,6331.000000,1.0
max,2021.000000,1.0,6565.764286,2.111312e+08,752806.000000,2.155918e+06,78976.000000,1.0,1.0,2279.000000,...,1.0,1.0,1.0,1.0,60.000000,6010.000000,601020.000000,6.010204e+07,9997.000000,1.0

### Using Tools in Pandas to Answer Questions

### What percentage of the CEOs in our list are female?

In [36]:
# iloc explanation and example

In [37]:
# We use the loc function to index the DataFrame by column and row name
# In this example, we also use the value_counts() function
# We can get a list of how many of the companies in this dataset had a female CEO in 2020

female_ceos = pay_ratio_df.loc[:,"Female"].value_counts()
female_ceos

1.0    122
Name: Female, dtype: int64

In [38]:
# We can use that same .loc function along with the count function
# to get the total number of CEOs

total_ceos = pay_ratio_df.loc[:,"Company"].count()
total_ceos

2504

In [39]:
# Python allows you to do some basic math without importing any libraries
# We can use the / discern the percentage of all CEOs in the dataset that are female

percent_female = female_ceos / total_ceos
percent_female

1.0    0.048722
Name: Female, dtype: float64

### Which executive had the largest CEO Pay Ratio in 2020?

In [40]:
# We can sort the dataset by column using the sort_values() function
# We can use the head() function to select how many lines from the top we want returned
# Using the print function, we can create a statement that uses the variables we've created

largest_ratio = pay_ratio_df.sort_values(by='Pay Ratio', ascending=False)
largest_ratio_ceo = largest_ratio.head(1)
print("The CEO with the largest pay ratio for 2020 is " + largest_ratio_ceo.iloc[0,1])
print("with the company " + largest_ratio_ceo.iloc[0,0])

The CEO with the largest pay ratio for 2020 is Fran Horowitz
with the company Abercrombie & Fitch Co

___________________________________________________________________
* [12] [Pandas Docs, DataFrame.sort_values](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html)

### What is the Average CEO Pay Ratio for all companies in that Industry in 2020?

In [41]:
# We can use the iloc[] and loc [] functions to select specific parts of the DataFrame
# We can also get the average of a set of values using the mean() function
# We will need these values for another exercise later
# Let's convert the values generated into a list using the to_list() function

industry = largest_ratio_ceo.iloc[0, 32]
avg_pay_industry = pay_ratio_df.loc[pay_ratio_df['Industry'] == industry, ['Pay Ratio']]
industry_avg = avg_pay_industry.mean()
industry_avg_list = industry_avg.to_list()
industry_name = largest_ratio_ceo.iloc[0,33]
print("The average pay ratio for the " + industry_name + " industry is ")
print(industry_avg_list)

The average pay ratio for the Specialty Retail industry is
[716.6885931602266]

### What is the Average CEO Pay Ratio for each Industry in 2020?

In [42]:
# To get this, there are a few things we will need to do
# Let's start with creating a DataFrame with only the industry code and description
# We can do this by creating a variable for each, then assignment them as columns in the new DataFrame 

i1 = pay_ratio_df.loc[:, 'Industry']
i2 = pay_ratio_df.loc[:, 'I_Desc']
industry_df = pd.DataFrame({"Industry Code": i1, "Industry Description": i2})
industry_df

      Industry Code                Industry Description
0          352030.0      Life Sciences Tools & Services
1          255020.0  Internet & Direct Marketing Retail
2          401010.0                               Banks
3          402020.0                    Consumer Finance
4          401010.0                               Banks
...             ...                                 ...
2499       253020.0       Diversified Consumer Services
2500       451030.0                            Software
2501       255040.0                    Specialty Retail
2502       351010.0    Health Care Equipment & Supplies
2503       502020.0                       Entertainment

[2504 rows x 2 columns]

In [43]:
# We can get a list of unique industry codes by using the drop_duplicates() and sort_values() functions

unique_codes = industry_df["Industry Code"].drop_duplicates().sort_values()

In [44]:
# Let's create a list type for this dataset 

unique_code_list = unique_codes.to_list()
unique_code_list

[101010.0,
 101020.0,
 151010.0,
 151020.0,
 151030.0,
 151040.0,
 151050.0,
 201010.0,
 201020.0,
 201030.0,
 201040.0,
 201050.0,
 201060.0,
 201070.0,
 202010.0,
 202020.0,
 203010.0,
 203020.0,
 203030.0,
 203040.0,
 203050.0,
 251010.0,
 251020.0,
 252010.0,
 252020.0,
 252030.0,
 253010.0,
 253020.0,
 255010.0,
 255020.0,
 255030.0,
 255040.0,
 301010.0,
 302010.0,
 302020.0,
 302030.0,
 303010.0,
 303020.0,
 351010.0,
 351020.0,
 351030.0,
 352010.0,
 352020.0,
 352030.0,
 401010.0,
 401020.0,
 402010.0,
 402020.0,
 402030.0,
 402040.0,
 403010.0,
 451020.0,
 451030.0,
 452010.0,
 452020.0,
 452030.0,
 453010.0,
 501010.0,
 501020.0,
 502010.0,
 502020.0,
 502030.0,
 551010.0,
 551020.0,
 551030.0,
 551040.0,
 551050.0,
 601010.0,
 601020.0,
 nan]

In [45]:
# We can create a list of unique industry descriptions using the same function as above

unique_industry = industry_df['Industry Description'].drop_duplicates().sort_values()
unique_industry_list = unique_industry.to_list()

#### Using For Loops

We can use a `for` loop to answer the rest of this question.

For loops generally follow the syntax below:
```python
for item in items:           # The first line must end in :
  do something             # subsequent lines must be indented
```

In [46]:
# Let's loop through our unique_industry_list

for industry in unique_industry_list:
  y = pay_ratio_df.loc[pay_ratio_df.loc[:, 'I_Desc'] == industry]
  z = y.loc[:,'Pay Ratio'].mean()
  a = str(industry)
  print(str("The average pay ratio for the ") + a + str(" industry is "))
  print(z)

The average pay ratio for the Aerospace & Defense industry is
128.384213799967
The average pay ratio for the Air Freight & Logistics industry is
175.58877648716282
The average pay ratio for the Airlines industry is
98.41534498369516
The average pay ratio for the Auto Components industry is
564.0053129012475
The average pay ratio for the Automobiles industry is
119.76813538354095
The average pay ratio for the Banks industry is
56.37344015693448
The average pay ratio for the Beverages industry is
315.2399120927953
The average pay ratio for the Biotechnology industry is
49.000840022893854
The average pay ratio for the Building Products industry is
137.14566240467698
The average pay ratio for the Capital Markets industry is
94.8710914176916
The average pay ratio for the Chemicals industry is
107.462141003061
The average pay ratio for the Commercial Services & Supplies industry is
146.3321468557383
The average pay ratio for the Communications Equipment industry is
126.8576241703115
The average pay ratio for the Construction & Engineering industry is
84.80762097395431
The average pay ratio for the Construction Materials industry is
87.74471988559308
The average pay ratio for the Consumer Finance industry is
180.85299150827063
The average pay ratio for the Containers & Packaging industry is
215.98176819405177
The average pay ratio for the Distributors industry is
139.595035585127
The average pay ratio for the Diversified Consumer Services industry is
221.71328963830365
The average pay ratio for the Diversified Financial Services industry is
52.772174242718386
The average pay ratio for the Diversified Telecommunication Services industry is
101.8028590404439
The average pay ratio for the Electric Utilities industry is
59.26396727421969
The average pay ratio for the Electrical Equipment industry is
241.45470821348647
The average pay ratio for the Electronic Equipment, Instruments & Components industry is
309.72738098327574
The average pay ratio for the Energy Equipment & Services industry is
84.68367394530726
The average pay ratio for the Entertainment industry is
557.5902566743201
The average pay ratio for the Equity REITs industry is
79.14648911017608
The average pay ratio for the Food & Staples Retailing industry is
325.97366551881316
The average pay ratio for the Food Products industry is
197.98367162239015
The average pay ratio for the Gas Utilities industry is
54.14866170634439
The average pay ratio for the Health Care Equipment & Supplies industry is
128.83363454435795
The average pay ratio for the Health Care Providers & Services industry is
206.04300046376477
The average pay ratio for the Health Care Technology industry is
61.61936002728351
The average pay ratio for the Hotels, Restaurants & Leisure industry is
471.7869593947059
The average pay ratio for the Household Durables industry is
127.21855357846601
The average pay ratio for the Household Products industry is
335.50270906835243
The average pay ratio for the IT Services industry is
173.76687028175928
The average pay ratio for the Independent Power and Renewable Electricity Producers industry is
69.06217032829396
The average pay ratio for the Industrial Conglomerates industry is
398.55711142539764
The average pay ratio for the Insurance industry is
94.82798667469949
The average pay ratio for the Interactive Media & Services industry is
57.35381569658509
The average pay ratio for the Internet & Direct Marketing Retail industry is
141.0036025071429
The average pay ratio for the Leisure Products industry is
265.6394917956692
The average pay ratio for the Life Sciences Tools & Services industry is
149.26789871730213
The average pay ratio for the Machinery industry is
134.96937428643682
The average pay ratio for the Marine industry is
48.18144812575086
The average pay ratio for the Media industry is
210.64578661849228
The average pay ratio for the Metals & Mining industry is
73.98742311658937
The average pay ratio for the Mortgage REITs industry is
29.078840508029536
The average pay ratio for the Multi-Utilities industry is
71.89554825272265
The average pay ratio for the Multiline Retail industry is
599.3084214578915
The average pay ratio for the Oil, Gas & Consumable Fuels industry is
59.03569350979506
The average pay ratio for the Paper & Forest Products industry is
73.32434054329654
The average pay ratio for the Personal Products industry is
209.55227753727175
The average pay ratio for the Pharmaceuticals industry is
199.70226705366204
The average pay ratio for the Professional Services industry is
166.5759399726277
The average pay ratio for the Real Estate Management & Development industry is
73.96500869397134
The average pay ratio for the Road & Rail industry is
86.58299068272315
The average pay ratio for the Semiconductors & Semiconductor Equipment industry is
152.44672170751474
The average pay ratio for the Software industry is
133.05600426322653
The average pay ratio for the Specialty Retail industry is
716.6885931602266
The average pay ratio for the Technology Hardware, Storage & Peripherals industry is
474.2267900835519
The average pay ratio for the Textiles, Apparel & Luxury Goods industry is
632.1254024075687
The average pay ratio for the Thrifts & Mortgage Finance industry is
49.51637096065167
The average pay ratio for the Tobacco industry is
780.5924900796762
The average pay ratio for the Trading Companies & Distributors industry is
75.6924496501182
The average pay ratio for the Transportation Infrastructure industry is
65.20051557674068
The average pay ratio for the Water Utilities industry is
35.33492111187493
The average pay ratio for the Wireless Telecommunication Services industry is
164.52831638700025
The average pay ratio for the nan industry is
nan

In [47]:
# We can also use the for loop to add items to a list
# We can turn this list into a new DataFrame to perform further analaysis
# To start, let's create a blank list called pr_ind
# We can use the append() function to add items to our list

pr_ind = []
for industry in unique_industry_list:
  y = pay_ratio_df.loc[pay_ratio_df.loc[:, 'I_Desc'] == industry]
  z = y.loc[:,'Pay Ratio'].mean()
  a = str(industry)
  pr_ind.append({'average_pay': z, 'Industry': a})

industry_pay_ratio_df = pd.DataFrame(pr_ind)
industry_pay_ratio_df

    average_pay                             Industry
0    128.384214                  Aerospace & Defense
1    175.588776              Air Freight & Logistics
2     98.415345                             Airlines
3    564.005313                      Auto Components
4    119.768135                          Automobiles
..          ...                                  ...
65    75.692450     Trading Companies & Distributors
66    65.200516        Transportation Infrastructure
67    35.334921                      Water Utilities
68   164.528316  Wireless Telecommunication Services
69          NaN                                  nan

[70 rows x 2 columns]

In [48]:
 # Rank them in descending order.
 
 descending_industry_pay = industry_pay_ratio_df.sort_values(by='average_pay', ascending=False)
 descending_industry_pay

    average_pay                          Industry
64   780.592490                           Tobacco
60   716.688593                  Specialty Retail
62   632.125402  Textiles, Apparel & Luxury Goods
50   599.308421                  Multiline Retail
3    564.005313                   Auto Components
..          ...                               ...
7     49.000840                     Biotechnology
45    48.181448                            Marine
67    35.334921                   Water Utilities
48    29.078841                    Mortgage REITs
69          NaN                               nan

[70 rows x 2 columns]

___________________________________________________________________
* [12] [Pandas Docs, DataFrame.sort_values](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html)

* [13] [Python Data Science Handbook](https://jakevdp.github.io/PythonDataScienceHandbook/) by Jake VanderPlas

* [14] [Pandas Docs: DataFrame](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html#pandas.DataFrame)

* [4] [Programming with Python: Python Fundamentals](https://swcarpentry.github.io/python-novice-inflammation/01-intro/index.html) by The Carpentries. [CC-BY-4.0](https://creativecommons.org/licenses/by/4.0/)

* [15] [Python: Programming and Fundamentals](https://github.com/ualibweb/UALIB_Workshops/blob/master/04_Python_spring_2022/03_Python_Plotting_and_Data.ipynb)by Vincent Scalfani and UA Libraries. [MIT License](https://github.com/ualibweb/UALIB_Workshops/blob/master/LICENSE)

* [16] [Stack Overflow: How to Select Rows form a DataFrame Based on Column Values](https://stackoverflow.com/questions/17071871/how-to-select-rows-from-a-dataframe-based-on-column-values)

* [17] [Stack Overflow: How to Filter Rows Containing a String Pattern from a Pandas DataFrame](https://stackoverflow.com/questions/27975069/how-to-filter-rows-containing-a-string-pattern-from-a-pandas-dataframe)

* [18] [Pandas Docs: User Guide, Indexing](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html)

# **Evaluation**
___________________________________________________________________

We're excited to be able to offer more workshops like this in the future. Please take a quick moment to complete this brief [evaluation of today's program and survey](https://universityofalabama.az1.qualtrics.com/jfe/form/SV_3DEAzHkcFV3PYyh)

# **Resources**
___________________________________________________________________

## UA Libraries Resources
*   [Python Resource Guide](https://guides.lib.ua.edu/python)
*   [Informatics Resource Guide](https://guides.lib.ua.edu/informatics)

## Open Web Resources
*  [Software Carpentry: Programming with Python](https://swcarpentry.github.io/python-novice-inflammation/)
*   [Programming Historian: Python Lessons](https://programminghistorian.org/en/lessons/?topic=python)
* [Introduction to Cultural Analytics & Python](https://melaniewalsh.github.io/Intro-Cultural-Analytics/welcome.html)
* [Python Data Science Handbook](https://jakevdp.github.io/PythonDataScienceHandbook/) by Jake VanderPlas
* For searching specific use-cases, try [Stack Overflow's community posts]( https://stackoverflow.com/questions/tagged/python)

# **References**
___________________________________________________________________
1. [Google Research FAQ](https://research.google.com/colaboratory/faq.html)
2. [Open Data Handbook: Glossary: Machine Readable](https://opendatahandbook.org/glossary/en/terms/machine-readable/)
3. Wing, J. M. (2006). Computational thinking. Communications of the ACM, 49(3), 33–35. https://doi.org/10.1145/1118178.1118215 
4. [Programming with Python: Python Fundamentals](https://swcarpentry.github.io/python-novice-inflammation/01-intro/index.html) by The Carpentries. [CC-BY-4.0](https://creativecommons.org/licenses/by/4.0/)
5. [Computational Notebooks and Beginner Syntax with Python](https://github.com/ualibweb/UALIB_Workshops/blob/master/04_Python_spring_2022/01_Python_computational_notebooks_and_syntax.ipynb) by Vincent Scalfani and UA Libraries. [MIT License](https://github.com/ualibweb/UALIB_Workshops/blob/master/LICENSE)
6. [Help and Documentation in IPython](https://jakevdp.github.io/PythonDataScienceHandbook/01.01-help-and-documentation.html) by Jake VanderPlas.  [CC-BY-NC-ND](https://creativecommons.org/licenses/by-nc-nd/3.0/us/legalcode).
7. [Overview of Colaboratory Features](https://colab.research.google.com/notebooks/basic_features_overview.ipynb)
8. [Looping through multiple lists—Python cookbook by O'Reilly](https://www.oreilly.com/library/view/python-cookbook/0596001673/ch01s15.html)
9. [Python Docs Glossary, Built-in Functions: Zip](https://docs.python.org/3/library/functions.html#zip)
10. ["7 ways to load external data into Google Colab"](https://towardsdatascience.com/7-ways-to-load-external-data-into-google-colab-7ba73e7d5fc7) by B. Chen
11. [Fiscal 2020 CEO Pay Ratios](http://ir.ua.edu/handle/123456789/8085), by Mark Siciliano, UA Libraries.
12. [Pandas Docs, DataFrame.sort_values](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html)
13. [Python Data Science Handbook](https://jakevdp.github.io/PythonDataScienceHandbook/) by Jake VanderPlas
14. [Pandas Docs: DataFrame](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html#pandas.DataFrame)
15. [Python: Programming and Fundamentals](https://github.com/ualibweb/UALIB_Workshops/blob/master/04_Python_spring_2022/03_Python_Plotting_and_Data.ipynb)by Vincent Scalfani and UA Libraries. [MIT License](https://github.com/ualibweb/UALIB_Workshops/blob/master/LICENSE)
16. [Stack Overflow: How to Select Rows form a DataFrame Based on Column Values](https://stackoverflow.com/questions/17071871/how-to-select-rows-from-a-dataframe-based-on-column-values)
17. [Stack Overflow: How to Filter Rows Containing a String Pattern from a Pandas DataFrame](https://stackoverflow.com/questions/27975069/how-to-filter-rows-containing-a-string-pattern-from-a-pandas-dataframe)
18. [Pandas Docs: User Guide, Indexing](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html)

# **MIT License**
___________________________________________________________________
Copyright (c) 2022 **Lance Simpson**

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

> THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.